// Variables



body {
       margin: 0;
       padding: 0;
       background: url(../assets/fotofondo2.jpg);
       background-size: 100% 100%;
       background-attachment: fixed;
       font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

/* INICIO*/

.collapse {
       justify-content: space-between;
}

.fondo {
       background-image: url(../assets/backgroundinicio.png);
       background-size: 100% 100%;
       background-attachment: fixed;

}

.btn {
       transition: all 1.5s;
}

.btn:hover {
       transform: translateY(-15px)
}



/*FLOTA*/

/*CAMPUS VIRTUAL*/

/* PROGRAMAS*/

/*EXTRANJEROS*/

.scalable {
       transition: all 1.5s;
}

.scalable:hover {
       transform: scale(1.1);
}



/*CONTACTOS*/

/*FOOTHER*/

.iconoUbicacion {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;

       i {
              color: white;
       }
}

.iconoFoto {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;

       i {
              color: white;
       }
}

.iconoContacto {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;

       i {
              color: white;
       }
}

.iconoCentral {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       color: white;
}


@media (max-width: 720px) {

       .body {
              background-image: radial-gradient(circle, #00e7f9, #33e2f2, #48deeb, #56d9e4, #62d4dd);

       .fotomobile {
              width: 100%;
       }
              }
                                   }